
<div style="z-index: 999999;" class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
      <i class="material-icons py-2">settings</i>
    </a>
    <partial name="_CardShowAdmin"/>
  </div>